.mainContainer {
  margin: 20px;
}

.mainHeading {
  text-align: center;
  font-size: 30px;
}

.topContainer {
}

.middleContainer {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.targetElement {
  margin: 10px 0;
}

.taskDisplay {
  padding: 10px;
  /* min-width: 200px; */
  border: 2px solid blueviolet;
}

.test {
  color: aliceblue;
}

.submitContainer {
  display: flex;
  justify-content: center;
}

.submitButton {
  margin-top: 5px;
  background-color: bisque;
  border: 2px solid;
  font-size: 15px;
  padding: 3px;
  border-radius: 30px;
}
