.container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 15vw;
  background-color: rgb(82 105 112);
  height: 100vh;
  min-width: 130px;
}

.display {
  position: relative;
  display: flex;
  overflow: scroll;
  width: 100%;
}

@media (max-width: 500px) {
  .sidebar {
    width: 30vw;
  }
}
