.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list h2 {
  text-align: center;
  border: solid black 2px;
  background-color: rgb(140, 106, 61);
  color: rgba(248, 241, 248, 0.819);
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  padding: 3px;
}

@media (max-width: 500px) {
  .list h2 {
    font-size: 5vw;
  }
}
