.taskContainer {
  background-color: rgba(186, 212, 212, 0.802);
  border-radius: 20px;
  display: flex;
  padding: 10px 18px;
  margin: 5px 0;
  gap: 10px;
}

.taskContainer > * {
  /* outline: 2px solid lime; */
  flex-shrink: 1;
  flex-grow: 0;
}
.time {
  flex-basis: 30px;
}
.name {
  flex-grow: 1;
}
.checkbox {
  margin-left: auto;
  scale: 1.3;
}
