/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* :root {
  --blite: 133, 123, 123;
} */

.light {
  --blite: 243, 233, 233;
}

.dark {
  --blite: 133, 123, 123;
}

* {
  @apply transition-colors duration-500;
}

#root {
  width: 100%;
  height: 100%;
}
