.mainContainer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headerContainer {
  display: flex;
  flex-wrap: wrap;
}

.headerContainer button {
  margin: 4px;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  background-color: #e68568;

  color: rgb(54, 65, 114);
}

.targetButton {
  background-color: rgb(60, 135, 135);
}
